/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 avr. 2019, 10:33:27
    Author     : developpeur
*/

header{
    padding-right: 150px;
    background-color: #1a8cff;
    text-align: center;
    margin: auto;
    height: 200px;
    
}

img{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
    max-width: 200px;
    heigth: auto;
   
}
#titre{
    
    font-size: 200%;
    font-family: serif;
    padding-top: 75px;
    text-transform: uppercase;
    text-decoration: shadow;
    
}

body{
    background-color: #99ccff;
}


#formConnexion{
    margin-top: 100px;
    margin-left: 35%;
    margin-right: 35%;
    
}
form{
    text-align: center;
}