/* 
    Created on : 12 avr. 2019, 10:33:27
    Author     : developpeur
*/

#recap{
    width:100%;
    border-style: solid;
    
}

#callToActions{
    text-align: center;
}

#btnMenu{
    width: 400px;
    height: 100px;
    background-color:#1a8cff;
    transition-duration: 0.4s;
    font-size: 120%;
        
}
#btnMenu:hover{
    opacity: 0.6;
    background-color: #99ccff;
}

header{
    padding-right: 150px;
    background-color: #1a8cff;
    text-align: center;
    margin: auto;
    height: 200px;
    
}

img{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
    max-width: 200px;
    heigth: auto;
   
}
#erreurConnexion{
    background-color: #ffa5a5;
    opacity: 50%;
    margin-left: 24%; 
    margin-right: 24%;
    color: red;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-weight:  lighter;
   
}

#btnRetourAccueil{
    color: black;
    
}
#titre{
    
    font-size: 200%;
    font-family: serif;
    padding-top: 75px;
    text-transform: uppercase;
    text-decoration: shadow;
    
}

body{
    background-color: #99ccff;
}


#formConnexion{
    margin-top: 100px;
    margin-left: 35%;
    margin-right: 35%;
    
}
form{
    text-align: center;
}